<div class="container holder">
  <div class="pos">
    <p class="headTitle">
      Barclays Bank Delaware - USA
    </p>
    <table class="table">
      <tbody class="wrapper">
        <tr class="sprow">
          <td class="head-cell">
            <div class="headbox">Issuer ID</div>
          </td>
          <td class="head-cell-row">
            <div class="head-cell-row__box">
              <div class="head-cell-row__box--unit" *ngFor="let item of items1">
                {{ item }}
              </div>
            </div>
          </td>
        </tr>
        <tr class="sprow" *ngFor="let row of rows">
          <td class="sub-cell-container">
            <div class="box">5621</div>
          </td>
          <td class="sub-cell-row">
            <div class="sub-cell_box">
              <div class="sub-cell_box--unit" *ngFor="let item of items2">
                {{ item }}
              </div>
              <span class="material-icons icon-arr"> keyboard_arrow_right </span>
            </div>
          </td>
        </tr>
        <tr class="main">
          <td class="sub-cell-container">
            <div class="box">1111</div>
          </td>
          <td class="sub-cell-row">
            <div class="sub-cell_box" *ngFor="let item of items">
              <div class="sub-cell_box--unit" *ngFor="let item of items2">
                {{ item }}
              </div>
              <span class="material-icons icon-arr"> keyboard_arrow_right </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
